.cr-background{
    background-color:rgb(245, 236, 236) ;
}
.center-cr{
    padding: 0px, 20px;
}
.carousel{
    border-radius: 20px;
}
button{
    color: white;
    background-image: linear-gradient(45deg, blue, rgb(79, 79, 163));
    border-radius: 5px;
    padding: 7px 25px;
    font-size: 20px;
    font-weight: 700;
}
.doler{
    color: rgb(255, 102, 0);
}
.container{
    margin-top: 50px;
}
#navebar{
    margin-top: 2px;
    

}

.card{
    border: none;
    box-shadow: 5px 5px 20px rgb(126, 131, 104);
    border-radius: 10px;
}
.card-footer{
    border: none;
}

.bagpack{
    background-color: rgb(168, 173, 158);
    margin-top: 100px;
    height: 150px;
}
.bag-padding{
    margin: 30px;
    margin-right: 200px;
    
}
.text-color{
    color: black;
}
.cr-text-color{
    color: rgba(14, 12, 12, 0.685);
    height: 100px;
}
#Subscribe{
    height: 300px;
    background-color: rgb(202, 165, 139);
    border-radius: 20px;
}

#Subscribe h6{
    color: rgb(14, 241, 128);
}
footer{
    text-align: center;
}